<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><img id="phainon" src="https://static.icy-veins.com/images/honkai-star-rail/characters/full/phainon.webp" alt="Phainon"></p>
  </body>
</html>
